<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <p>単価</p>
      <input v-model="tanka" type="number" name="name"/>
      <p>人数</p>
      <input v-model="nin" type="number" name="number"/>

      <input type="button" name="button" value="合計" @click="multiply"/>
      <p>{{kei}}</p>
      <p v-if="isInvalidKei" class="passed">予算が上限の20000円を超えています</p>
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./script/ex_script.js"></script>

</body>
</html>